input {
  border: solid 1px gray;
  padding: 4px;
  outline: none;
}

button {
  border: solid 2px dodgerblue;
  padding: 2px 4px;
}

.success {
  /* background-color: green; */
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 1px gray;
}
