{% extends 'base.html' %} {% block content %}
<div class="container pt-[80px]">
  <div class="is-flex is-justify-content-space-between">
    <div class="content">
      <h2>Deciding what to read next?</h2>
      <p>
        You’re in the right place. Tell us what titles or genres you’ve enjoyed
        in the past, and we’ll give you surprisingly insightful recommendations.
      </p>
    </div>
    <div class="content">
      <h2>What are your friends reading?</h2>
      <p>
        Chances are your friends are discussing their favorite (and least
        favorite) books on Goodreads.
      </p>
    </div>
  </div>
</div>
{% endblock %}
