{% extends 'base.html' %}

{% block title %} Books List {% endblock %}

{% block content %}
<h1 class="title text-center mt-4">Books</h1>
<div class="container">

  <div class="w-2/3">
    {% if books %}
    <ul class="flex flex-wrap gap-5">
      {% for book in books %}
      <li class="card p-4 hover:bg-gray-50">
        <a href="{% url 'books:detail' book.id %}">{{ book.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    No books found.
    {% endif %}

    {% endblock %}
  </div>
  <div>

  </div>
</div>