{% extends 'base.html' %}

{% block title %} Books List {% endblock %}

{% block content %}
<h1 class="title text-center mt-4">Books</h1>
<div class="container">

  <div class="w-3/5 py-4 border-t">
    {% if books %}
    <ul class="flex flex-wrap gap-4">
      {% for book in books %}
        <li class="">
          <a href="{% url 'books:detail' book.id %}">
            <img class="w-[115px]" src="{{book.img.url}}" alt="Book cover images">
          </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
      No books found.
    {% endif %}

    {% endblock %}
  </div>
  <div>

  </div>
</div>