
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Edit Profile {% endblock %}

{% block content %}

<h1>Edit Profile</h1>

<div class="row">
    <div class="col-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form | crispy }}
            <button class="btn btn-info" type="submit">Change updates</button>
            <span class="ml-4">No account? Then, <a class="text-blue-400" href="{% url 'user:register' %}">Get Registered</a></span>
        </form>
    </div>
</div>

{% endblock %}